*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
 }

ul {
  list-style: none; }

html {
  font-size: 62.5%;
  font-family: 'Roboto',sans-serif;
  color: #3f3c3d; }
  body {
    box-sizing: border-box;
    position: relative; }
  
  a {
    text-decoration: none; 
}
    .background {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-image: url(../images/background.png);
        z-index: -1;
        background-attachment: fixed;
        background-size: cover; 
    }
        .background::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: black;
          opacity: 0.4; 
        }
        .round1box,.round3box{
          width: 100%;
            background: #fff;
             box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
            overflow: hidden;
               position: relative;
                 display: flex;
                 margin-bottom: 5rem;
           z-index: 10;
        }
.round1content,.round3content{
  padding: 2rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 15;
}
.round{
    width: 100%;
    background: #eeeeee;
    padding: 5rem 8rem;
}
.round1heading,.round3heading{
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 400;
    font-size: 35px;
}
.round1para,.round3para{
  color: #737272;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 35px;
}
.round1listheading,.round3listheading{
  margin-top: 12px;
font-size: 25px;
  font-weight: 400;
}
.round1imgbox,.round3imgbox{
  flex: 0 1 50%;
  overflow: hidden;
 }
 .round1imgboximage,.round3imgboximage{
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
  background-repeat: no-repeat;
  background-size: cover;
 }
 .r1{
   background-image: url(../images/vintage.jpg);
 }

 
.navbar{
    font-size: 30px;
    position: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2000;
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 1rem; 
}
    .nav__logo {
        letter-spacing: 3px;
        height: 3rem; 
    }
    .nav__logo .csi {
          text-decoration: none;
          color: #fff;
          font-family: 'Raleway',sans-serif;
          font-weight: 600; 
    }
    .header{
    display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
    }
    .headercontent{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
  }
  .headerlogobox {
    width: 22rem;
    height: 22rem;
    margin-top: 5rem;
    opacity: 0.9;
   }
    .headerlogoboxicon {
      width: 22rem;
      height: 22rem;
      transition: all 0.5s cubic-bezier(0.87, 0.03, 0.53, 0.6);
     }
      .headerlogoboxicon:hover {
        transform: scale(1.1) rotate(720deg);
       }
        .headertextlogo{
          width: 50%;
          margin :2rem 0;
        }
        .headerbuttons{
          display: flex;
          align-items: center; }

        
        .btnheaderregister , .btnheaderquiz{
          font-size: 1.5rem;
          border: 2px solid white;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          border-radius: 100px;
          padding:20px;
          margin:0 20px;
          color:#fff;
          font-family: 'Raleway',sans-serif;
          font-weight: 700;
          transition: all 0.2s;
           }
           .btnheaderregister:hover , .btnheaderquiz:hover{
             border: 4px solid #fff;
             transform:translateX(5px) ;
           }
           
.button{
  padding: 3px 5px;
  color: #fff;
  border: none;
  display: inline-block;
  transition: all 0.3s;
}
.round1button,.round2button,.round3button{
  border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.2rem 2rem;
    background: transparent;
    border: 1px solid #004d40;
    transition: all 0.1s;
    color: #004d40;
    letter-spacing: 1px;
    text-decoration: none; 
    width:fit-content;
}
.round1button:hover,.round2button:hover,.round3button:hover{
  background:#004d40;
  color:white;
  box-shadow: 0 16px 20px rgba(0,0,0,0.2);
}

.round2box{
  width: 100%;
    background: #fff;
     box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
       position: relative;
         display: flex;
         margin-bottom: 5rem;
   z-index: 10;
}
.round2content{
  padding: 2rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 15;
}
.round2heading{
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 400;
  font-size: 35px;
}
.round2para{
color: #737272;
font-size: 1.8rem;
font-weight: 300;
line-height: 35px;
}
.round2listheading{
margin-top: 12px;
font-size: 25px;
font-weight: 400;
}
.round2imgbox{
  flex: 0 1 50%;
 }
 .round2imgboximage{
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);;
  background-repeat: no-repeat;
  background-size: cover;
 }
.r2{
  background-image: url(../images/quiz.jpg);
}

.r3{
  background-image: url(/images/magic.jpg);
}
.footer{
  height:180px;
  background: #004d40;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.footericons{
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 15;
}
.footericons a{
  margin:10px;
  transition: all 0.2s;
}
.footericons a:hover{
  transform:rotate(10deg);
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
 background-size: cover;
 position: absolute;
  background-image:url(../images/footer.png);
  animation: animate 15s infinite; 
background-blend-mode: color;
}
.footercopy{
  color: #eeeeee;
  font-size: 20px;
  background: #004d40;
  padding: 10px 0;
  margin-top: auto;
  text-align: center;
  z-index: 10; 
  width: 100%;
}

@keyframes animate {
0% {
  transform: scale(1); }
50% {
  transform: scale(2); }
100% {
  transform: scale(1); } }
  .toggler{
    position: absolute;
    top: 0;
    right: 1%;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 1%;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggler:hover{
    cursor:pointer;
  }
  .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background:#3f3c3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .hamburger > div::after,
  .hamburger > div::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: #3f3c3d;
  }
  .hamburger > div::after{
    top:10px;
  }
  .toggler:checked + .hamburger>div{
    transform:rotate(135deg);
  }
  .toggler:checked + .hamburger > div::after,
  .toggler:checked+ .hamburger > div::before{
    top:0;
    transform:rotate(90deg);
  }
  .menu{
    visibility:hidden;
    margin-right: 1.5%;
  }
  .toggler:checked ~.menu{
    visibility: visible;
  }
  .box1,.box2,.box3{
    margin-top: 5px;
    background: black;
    opacity: 0.7;
    padding:10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    z-index: 300;
    text-decoration:none;
  }
  .menu a{
    color:#fff;
    text-decoration: none;
  }
